.App {
  text-align: center;
}

.background {
  background-color: #282c34;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  height: min(15vw, 30vh);
  width: min(15vw, 30vh);
}

.title {
  position: relative;
  height: min(25vw, 20vh);
  width: auto;
  margin: 0;
}

.description {
  margin-top: -4vh;
  font-size: min(3vw, 3vh);
  padding: 0;
  color: #05e0ebad;
}